
  body  
  {  
      margin: 0;  
      padding: 0;  
      font-family: 'Arial';  
  }  

  button
  {
    color:black;
    background: #b56cff;
    height: 50px;
    width: 50%;
    border-radius: 20px ; 
    border: 4px solid #411c66;
    transition: all 0.4s ease 0s;
    text-align: center;
  }


  textarea
  {
    width: 100%;
    background-color: (231, 230, 230);
    padding: 14px 20px;
    border: none;
    height: 200px;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    resize: none;
  }

  input
  {
    width: 100%;
    background-color: (231, 230, 230);
    padding: 14px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }


  select
  {
    width: 100%;
    background-color: (231, 230, 230);
    padding: 14px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }

  .form-group
  {
    padding-bottom: 5%;
  } 

  h2
  {  
      text-align: center;  
      color: #824bb9;  
      padding: 0px;  
      font-weight: bold;
  }  

  label
  {  
      font-size: 17px;
      font-weight: bold;
  }  

  span
  {  
      color: white;  
      font-size: 17px;  
  } 

  .formGeneral
  {  
    width: 40%;  
    overflow: hidden;  
    margin: auto; 
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 2% ; 
    align-items: center;
    justify-content: center;
  }

  .etiquetaContador
  {
    width: 40%;
    padding-left: 5%;  
    overflow: hidden;  
    margin: auto;
    align-items: center;
    justify-content: center;
  }

  .botonNormal:hover:not([disabled])
  {
    color: #ffffff;
    background: #a852ff;
    transition: all 0.4s ease 0s;
  }

  .contenedorReporte
  {
    width: 100%;
    padding-left: 60%;
  }