body  
{  
    margin: 0;  
    padding: 0;  
    font-family: 'Arial';  
}  

.login{  
        width: 500px;  
        overflow: hidden;  
        margin: auto;  
        margin: 20 0 0 450px;  
        padding: 60px;  
        border-radius: 15px ; 
        display: flex;
        align-items: center;
        justify-content: center;
          
}

.loginBtn{
  color:black;
	background: #562586;
  height: 50px;
  width: 200px;
  border-radius: 20px ; 
	border: 4px solid #411c66 !important;
	transition: all 0.4s ease 0s;
  text-align: center;
}

button:hover {
	color: #ffffff;
	background: #9740ee;
	transition: all 0.4s ease 0s;
}

input{
  width: 100%;
  background-color: (231, 230, 230);
  padding: 14px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
select{
  width: 100%;
  background-color: (231, 230, 230);
  padding: 14px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.form-group{
  padding-bottom: 5%;
} 

h2{  
    text-align: center;  
    color: #6A0085;  
    padding: 0px;  
    font-weight: bold;
}  

label{  
    font-size: 17px;
    font-weight: bold;

}  

#Uname{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}  
#Pass{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
      
}  
#log{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: blue;  
  
  
}  
span{  
    color: white;  
    font-size: 17px;  
}  