/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

body, html {
  height: 100%;
}

/* The hero image */
.hero-image {
/* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../static/img/headerImage.jpg");

/* Set a specific height */
height: 10%;
padding-top: 40%;
/* Position and center the image to scale nicely on all screens */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}

/* Place text in the middle of the image */
.hero-text {
text-align: center;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: white;
}



.paginationBttns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  cursor: pointer;  
  color:black;
	background: #562586;
  height: 50px;
  width: 200px;
  border-radius: 20px ; 
	border: 4px solid #411c66 !important;
	transition: all 0.4s ease 0s;
  text-align: center;
}

.paginationBttns a:hover {
  color: #ffffff;
	background: #9740ee;
	transition: all 0.4s ease 0s;
}

.paginationActive a {
  color: #ffffff;
	background: #9740ee;
	transition: all 0.4s ease 0s;
}

.paginationDisabled a {
  color:black;
	background: #39195a;
}

